@use "../abstracts/index"as *;

// TOP ROW: 3 columns
.site-header-top {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  padding-bottom: 3rem;
  padding-top: 3rem;
  align-items: center;
}

// Social icons (left)
.site-header-social {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-self: start;
}

.site-header-social-icon {
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}


// Logo (center)
.logo {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: $pink;
    text-decoration: none;
    font-family: $font-montserrat;
    font-size: $font-size-30;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }

  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

.site-header-cart {
  position: relative;

  &-count {
    position: absolute;
    top: -0.5rem;
    right: -0.4rem;
    width: 1.1rem;
    height: 1.1rem;
    padding: 0;
    border-radius: 100%;
    background-color: $white;
    border: 3px solid $pink;
    color: $pink;
    font-family: $font-montserrat;
    font-size: $font-size-12;
    font-weight: $font-weight-bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &[hidden] {
      display: none;
    }

    @include respond(sm) {
      top: -0.35rem;
      right: 0.3rem;
      width: 0.9rem;
      height: 0.9rem;
      border-width: 2px;
      font-size: $font-size-9;
      justify-content: left;
    }
  }
}

// Actions (right)
.site-header-actions {
  display: flex;
  gap: 0.94rem;
  align-items: center;
  justify-self: end;

  button {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    line-height: inherit;
    border-radius: 0;
    cursor: pointer;
    appearance: none;
  }

}


// BOTTOM ROW: main nav
.site-header-bottom {
  border-top: 0.5px solid #727174;
}

.site-header-nav {
  padding: 0.75rem 2rem 0.9rem;

  ul {
    list-style-type: none;
    justify-content: center;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
    }
  }
}

.site-header-link {
  font-family: $font-montserrat;
  font-weight: $font-weight-bold;
  color: $black;
  text-decoration: none;
  font-size: $font-size-18;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  display: inline-flex;
  align-items: center;

  .site-header-link-text {
    padding-right: 0.25rem;
  }
}

// Hover menu item
.site-header-link:hover {
  color: $pink
}

// Active menu item
.site-header-link-active {
  color: $pink;
}


// Simple responsiveness
@include respond(sm) {
  .site-header-logo {
    font-size: 1.2rem;
  }

  .site-header-nav {
    flex-wrap: wrap;
    gap: 1rem;
  }
}

@include respond(md) {
  .site-header-nav {
    gap: 1.5rem;
  }
}