@use '../abstracts/variables'as *;
@use '../abstracts/mixins'as *;

body {
  margin: 0;
  font-family: $font-funnel;
  font-size: $font-size-15;
}

h1 {
  font-family: $font-montserrat;
  font-weight: $font-weight-black;
  font-size: $font-size-50;
  margin: 0;
  line-height: $line-height2;
}

h2 {
  font-family: $font-montserrat;
  font-weight: $font-weight-black;
  font-size: $font-size-40;
  line-height: $line-height2;
  text-align: center;
  margin: 1rem 0;
}

h3 {
  font-family: $font-montserrat;
  font-weight: $font-weight-bold;
  font-size: $font-size-19;
  margin: 0;
  line-height: $line-height2;
}

h4 {
  font-family: $font-funnel;
  font-weight: $font-weight-bold;
  font-size: $font-size-15;
  margin-bottom: 1rem;
  line-height: $line-height;
}

p {
  font-family: $font-montserrat;
}
